* {
  margin: 0;
  border: 0;
  padding: 0;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 630px;

  width: 100vw;
}

.chart {
  width: 80%;
  min-height: 450px;
}
.row {
  margin: 0 !important;
}
.bar {
  height: 1000px;
}
